@media (prefers-color-scheme: light){
  
}

@media (prefers-color-scheme: dark){
  
}

h1{
    font-weight: bold;
    font-size: 42px;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(32, 32, 32);
  color: rgb(246, 246, 246);
  overflow-x: hidden;
}

p {
  font-size: 24px;
  font-weight: lighter;
}

.img-container {
  margin-left: -32px;
  text-align: left;
  display: block;
}

.post-img {
  display: inline-block;
  border-radius: 5px;
  max-width: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-icon{
  background-color: rgb(24, 24, 24);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 16px;
}

#fluent-provider{
  width: 100%;
  height: auto;
}

#post-header-div{
    text-align: center;
    position: relative;
    margin-left: 42px;
    margin-right: 42px;
    top: 300px;
}

#post-header-title{
    position: relative;
    top: -15px;
}

.blogpost-header-image{
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 8px 8px;
}

.gradient-div {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgb(35,35,35);
  background: -moz-linear-gradient(0deg, rgba(32, 32, 32,1) 3%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(32, 32, 32, 1) 3%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(32, 32, 32, 1) 3%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232323",endColorstr="#ffffff",GradientType=1);
}

.fluent-badge{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    position: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}
