@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media(prefers-color-scheme: light){
  body{
    background-color: rgb(245, 245, 245);
    color: black;
  }
  
  .navbar{
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .vertical-separator{
    background-color: rgb(50, 50, 50);
  }
  
  .system-chrome-alt-high-color{
    background-color: #DBDBDB;
  }
  
  .div-shadow-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9617838859558105) 10%, rgba(255, 255, 255, 0) 100%);
    border-radius: 6px;
  }
  
  #start_content{
    background-color: white;
    background-image: url('img/light_background.jpg');
  }

  #app-preview-image{
    background-image: url('assets/light-screen.png');
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.3); */
  }

  .gradient-div{
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9617838859558105) 10%, rgba(255, 255, 255, 0) 100%);
    border-radius: 6px;
  }
}

@media(prefers-color-scheme: dark){
  body{
    background-color: rgb(35, 35, 35);
    color: white;
  }
  
  .navbar{
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .vertical-separator{
    background-color: rgb(220, 220, 220);
  }

  .div-shadow-gradient{
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(40, 40, 40, 0.9617838859558105) 10%, rgba(255, 255, 255, 0) 100%);
    border-radius: 6px;
  }
  
  .system-chrome-alt-high-color{
    background-color: rgb(30, 30, 30);
  }
  
  #start_content{
    background-color: black;
    background-image: url('img/dark_background.jpg');
  }

  #app-preview-image{
    background-image: url('assets/dark-screen.png');
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.3); */
  }

  .gradient-div{
    background: rgb(40, 40, 40);
    background: linear-gradient(90deg, rgba(35, 35, 35, 0.9617838859558105) 10%, rgba(35, 35, 35, 0) 100%);
    border-radius: 6px;
  }
}

#app-preview-image{
  display: inline-block;
  height: 500px;
  width: 85%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  margin-top: 36px;
  animation-name: app-preview;
  animation-duration: 4s;
}

#get-app-button{
  position: absolute;
  top: 18px;
  height: 35px;
  right: 140px;
  width: 160px;
}

#logo-text {
    font-size: 24px;
    position: relative;
    top: -13px;
    left: 5px;
}

#desktop_menu{
    position: fixed; 
    top: 17px; 
    left: 196px;
}

@font-face{
    font-family: "Fluent-Icons-Regular";
    src: url("fonts/FluentSystemIcons-Regular.ttf");
}

body {
    font-size: 15pt;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

.fluent-icons{
    font-family: "Fluent-Icons-Regular";
    font-size: 20px;
    font-style: normal;
    display: inline-block;
}

.activated-menu-item{
    border-style: none;
    background-color: white;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 36px;
    width: 90px;
    color: rgb(25, 25, 25);
}

.activated-menu-item:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

.vertical-separator{
    width: 1px;
    height: 25px;
    position: absolute;
    top: 25px;
    left: 177px;
}

#page-description{
    position: relative;
    top: 95px;
    font-size: 24px;
    animation-duration: 2s;
    animation-name: start;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-item-text{

}

.system-chrome-alt-high-color {
    
}

.navbar{
    height: 75px;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000000000000000000000000000000000000;
}

#themes-personalization{
    background-image: url('https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-US');
}

.gradient-div{
    border-radius: 6px;
}

#navbar-logo{
    display: inline-block;
    position: relative;
    top: 14px;
    left: 16px;
}

#blog-badge{
    position: relative;
    top: -14px;
    left: 10px;
    bottom: 0px;
}

#content{
  width: 100%;
  height: auto;
}

#start{
  width: 100%;
  height: auto;
}

#start_content{
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

#logo_img {
    height: 45px;
    width: 45px;
}

#send_review_button{
    position: fixed;
    top: 18px;
    right: 20px;
    height: 35px;
    width: 110px;
}

#page-title{
    position: relative;
    font-size: 60px;
    top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    animation-name: start;
    animation-duration: 2.5s;
}

#start-buttons-grid{
    animation-name: start-buttons;
    animation-duration: 3.5s;
    /*animation-delay: 5s; */
    /*opacity: 0; */
}

@keyframes start{
    from{
        transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes start-buttons{
    from{
        transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes app-preview{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes app-preview-content{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}